
.row {
    content: "";
    display: table block;
    clear: both;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.column{
    float:left;
    max-width: 33.33%;
    min-width: 33.32%;
    padding: 10px;
    opacity: 0.25;
    /*background-color: rgba(228, 228, 228, 0.5);*/
}

.charTable th{
    height:250px;
}

.charTable td{
    height:30px;
}

.charTable  .thTag{
    width:200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.likeImg{
    max-width: 20px;
    min-width: 18px;
    padding-right: 3px;
    height: auto;
    display: inline-block;
}

.charTable{

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}

.go-button {
    background-color: #496aeb; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 100px 10px 100px;
}

.gameInfor-button{
    background-color: #496aeb; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    /*display: inline-block;*/
    margin-right: 10px;
    float: right;
    padding:10px 20px 10px 20px;
}
